<div class="container-fluid">

<div class="row text-center">
  <h1>Bienvenido Profesor</h1>
  <div class="row">
    <div class="col-md-4">
      <%= image_tag('comunidad.png' ,class: 'button_menu') %>
      <h4>Comunidad de tutores</h4>
    </div>
    <div class="col-md-4">
      <%= image_tag('grupos.png' ,class: 'button_menu') %>
      <h4>Grupos de estudiantes</h4>
    </div>
    <div class="col-md-4">
      <%= image_tag('historial.png' ,class: 'button_menu') %>
      <h4>Historial de tutores</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <%= image_tag('tutores.png' ,class: 'button_menu') %>
      <h4>Creación de tutores</h4>
    </div>
    <div class="col-md-4">
      <%= image_tag('actividades.png' ,class: 'button_menu') %>
      <h4>Crear actividades</h4>
    </div>
    <div class="col-md-4">
      <%= image_tag('basedatos.png' ,class: 'button_menu') %>
      <h4>Base de datos para análisis educativo</h4>
    </div>
  </div>
</div>

</div>
